<div class="form-horizontal group-border-dashed col-xs-12 col-sm-4 col-md-3 pull-left">
    <div class="form-group">
        <label for="ddlPageSize" class="control-label col-xs-6">تعداد نمایش</label>
        <div class="col-xs-6">
            <select class="form-control ddlSelect" id="ddlPageSize">
                <option value="10">10</option>
                <option value="50" selected="selected">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>
    </div>
</div>