@model UserSite

@{
    ViewBag.Title = "نام کاربری و رمز عبور برای ورود به سایت";
}

<div class="col-xs-12">
    <div class="content-dynamic">
        <p>کاربر گرامی شما می توانید با نام کاربری و رمز عبور زیر وارد سایت شوید:</p>
        <p>@Html.DisplayNameFor(model => model.Username): <strong class="font-tahoma">@ViewBag.Username</strong></p>
        <p>@Html.DisplayNameFor(model => model.Password): <strong class="font-tahoma">@ViewBag.Password</strong></p>
    </div>
</div>